[Desktop Entry]
Name=AutoWifiADB
Comment=Connect Android device over Wi-Fi using ADB
Exec=bash -c 'DESKTOP_FILE="%k"; SCRIPT_DIR="$(dirname "$(readlink -f "$DESKTOP_FILE")")"; cd "$SCRIPT_DIR" && bash ./run-adb-wifi-connect.sh; echo; echo "============================="; read -p "Press Enter to close..."'
Terminal=true
Type=Application
Icon=phone
Categories=Development;
